.contacto {
   display: flex;
   gap: 24px;
}

.contacto div {
   width: 100%;
}

.contacto h2 {
   color: deeppink;
}
h2{
   color: deeppink;
}
h6{
   color: rgb(250, 105, 182);
}

.formulario p {
   display: flex;
}

.formulario p label {
   min-width: 80px;
}
.formulario p label{
   display: flex;
   align-items: center;
}

.formulario p:nth-child(4){
   align-items: start;
}

.formulario textarea {
   resize: none;
   height: 150px;
}

.formulario input[type="submit"] {
   background-color: deeppink;
   box-shadow: 0 0 10px rosybrown;
   color: beige;
   font-size: 16px;
   padding: 6px 20px;
   width: auto;
   left: 5rem;
   cursor: pointer;
}

.formulario input [type="submit"] :hover {
   background-color: deeppink;
}
