.centrar {
    margin: auto;
    display: block;
 }
 
 .mision {
    width: 50%;
    padding-right: 0.6em;
    box-sizing: border-box;
    background-color: beige;
 }
 
 .metodologia {
    width: 50%;
    padding-left: 0.6em;
    box-sizing: border-box;
    background-color: beige;
 }
 
 .columnas {
    display: flex;
    justify-content: space-between;
 }
 .home h2 {
   text-align: center;
   color: deeppink;
 }
 .home h3{
   color: rgb(255, 145, 204);
 }
 
 .home p{
   color: rgb(252, 180, 218);
 }