.quienessomos h2 {
   color: deeppink;
}

.quienessomos p {
   font-size: 0.8em;
   color: rgb(252, 180, 218);
   ;
}

.equipo h2 {
   color: deeppink;
}

.persona {
   border: 1px solid beige;
   border-radius: 0.25em;
   width: 18%;
   box-sizing: border-box;
   float: left;
}

.persona {
   text-align: center;
}

.personas {
   display: flex;
   justify-content: space-between;
}

.persona img {
   border-radius: 50%;
   max-width: 60%;
   box-shadow: 0 0 5px beige(0, 0, 0, 0.5);
}

.persona h5,
.persona h6 {
   margin: 0;
   font-weight: normal;
   color: rgb(250, 105, 182);
}

.persona h5 {
   font-size: 0.9em;
}

.persona h6 {
   font-size: 0.8em;
   font-style: italic;
   margin-bottom: 1em;
}

.persona p {
   color: rgb(255, 145, 204);
   font-size: 0.7em;
   margin-bottom: 1em;
}

.persona:first-child {
   margin-left: 0;
}